.InputStyle  {
    position:relative;
    margin-top: 20vw;
    padding: 2vw;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.7);
    font-size: 7vw;
    border-radius: 10px;
}

.SearchButton {
    position:relative;
    left:78vw;
    top:-6vh;
}
